# Trabajo IA

## Selección de características para mejorar modelos predictivos

Aqui añadimos una descripcion de lo que vamos a hacer y tal

In [19]:
import pandas as pd

In [20]:
titanic = pd.read_csv('../data/titanic.csv')

In [21]:
titanic.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Initial,Age_band,Family_Size,Alone,Fare_cat,Deck,Title,Is_Married,Survived
0,3,male,22.0,1,0,7.2500,S,0,1,1,No,0,U,11,0,0
1,1,female,38.0,1,0,71.2833,C,1,2,1,No,3,C,12,1,1
2,3,female,26.0,0,0,7.9250,S,2,1,0,Yes,1,U,8,0,1
3,1,female,35.0,1,0,53.1000,S,1,2,1,No,3,C,12,1,1
4,3,male,35.0,0,0,8.0500,S,0,2,0,Yes,1,U,11,0,0